<ion-view>
  <ion-content>
    <div ng-controller="profileCtrl">

      <div class="list card">

        <div style="padding-left:110px;">
          <ion-list class="item-remove-animate item-avatar">
            <img src="img/profile_icon-circle.png" style="height:120px;width:120px;">
          </ion-list>
        </div>
        <div class="item item-image">
          <img src="cover.jpg">
        </div>

        <a class="item item-icon-left assertive" href="#">
          <i class="icon ion-music-note"></i>
          Start listening
        </a>

      </div>

    </div>

  </ion-content>
</ion-view>
